<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icare.jetpackmvvm" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <provider
            android:authorities="${applicationId}.KtxInstaller"
            android:name="com.icare.jetpackmvvm.base.Ktx"
            android:exported="false"/>
    </application>
</manifest>
